<div th:fragment="bottomDiv" class="fh5co-counters" style="background-image: url(images/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
    <div class="fh5co-narrow-content animate-box">
        <div class="row" >
            <div class="col-md-4 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="130" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Website</span>
            </div>
            <div class="col-md-4 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="1450" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Branding</span>
            </div>
            <div class="col-md-4 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="7497" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Product</span>
            </div>
        </div>
    </div>
</div>
<footer th:fragment="bottomFooter">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="section-title">Minimal</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                </div>

                <div class="col-md-4 col-md-push-1">
                    <h3 class="section-title">Our Services</h3>
                    <ul>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Photography</a></li>
                        <li><a href="#">Editing Photos</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">API</a></li>
                        <li><a href="#">FAQ / Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3 class="section-title">Information</h3>
                    <ul>
                        <li><a href="#">Terms &amp; Condition</a></li>
                        <li><a href="#">License</a></li>
                        <li><a href="#">Privacy &amp; Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row copy-right">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icon">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                    <p>Copyright 2016 Free Html5 <a href="#">Minimal</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="http://blog.gessato.com/" target="_blank">Gessato</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>