<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        Swal.fire({
            title: '커스터마이징 성공',
            text: '게시판을 확인해주세요',
            icon: 'success',
            confirmButtonText: '확인'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/index_main';
            }
        });
    });
</script>

<!--success: 성공 메시지-->
<!--error: 오류 메시지-->
<!--warning: 경고 메시지-->
<!--info: 정보 메시지-->
<!--question: 질문 메시지-->